@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'caflisch-script-pro';
    src: url('fonts/caflisch_script_pro_regular.woff2') format('woff2'),
        url('fonts/caflisch_script_pro_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
